{% extends 'base.html.twig' %}

{% block main %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-dark" data-bg-img="{{ asset('images/bg/bg4.jpg') }}">
        <div class="container pt-170 pb-70">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="mt-0 text-white-light">Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Gallery -->
    <section>
        <div class="container-fluid pb-0">
            <div class="section-content">
                <!-- Gallery items -->
                <div class="masonry-items" data-layoutarray="[15]" data-padding="30">
                    {% for image in images %}
                        <div class="masonry-item">
                            <div class="thumb">
                                <img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/'~image) }}" alt="featured project"  width="476">
                            </div>
                            <div class="overlay text-center">
                                <div class="display-table">
                                    <div class="display-table-cell"><i class="fa fa-search"></i></div>
                                </div>
                            </div>
                            <a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/'~image) }}">View more</a>
                        </div>
                    {% endfor %}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/m1.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/m1.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/5.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/5.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/3.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/3.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/m3.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/m3.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/m2.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/m2.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/m4.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/m4.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/6.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/6.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/m3.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/m3.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/1.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/1.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/2.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/2.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/3.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/3.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/4.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/4.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/5.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/5.jpg') }}">View more</a>#}
                    {#</div>#}
                    {#<div class="masonry-item">#}
                        {#<div class="thumb">#}
                            {#<img class="img-responsive img-fullwidth" src="{{ asset('images/portfolio/6.jpg') }}" alt="featured project"  width="476">#}
                        {#</div>#}
                        {#<div class="overlay text-center">#}
                            {#<div class="display-table">#}
                                {#<div class="display-table-cell"><i class="fa fa-search"></i></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a class="hover-link" data-lightbox-gallery="gallery" href="{{ asset('images/portfolio/6.jpg') }}">View more</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}